*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(169, 250, 232);
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 2rem;
    border: none;
    font-size: 8vmin;
    color: rgb(239, 79, 92);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    background-color: rgb(190, 190, 247);
}

#reset{
    padding: 1.5rem;
    font-size: 2.5vmin;
    border-radius: 1.5rem;
    border: none;
    background-color: cadetblue;
    color: aliceblue;
}

#new-btn{
    padding: 1rem;
    font-size: 2.5vmin;
    border-radius: 1.5rem;
    border: none;
    background-color: cadetblue;
    color: aliceblue;
}

#msg{
    font-size: 5vmin;
    color:rgb(239, 79, 92);
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}